<!--<div class="container">-->

<div>

    <div class="portfolio-header-div header-position-div dark-background-div">
        Here are some of my previous work
    </div>

    <div parallax-background class="parallax-background analyzerFront" parallax-ratio="0.3">
        <div data-ng-click="animateAnalyzerCaption()" id="analyzerCaptionBlock" class="analyzer-caption-div">
            <span id="analyzerGlyph" class="glyphicon glyphicon-chevron-left"></span>
            <div id="analyzerCaptionText" class="portfolio-text-div">
                Front view of a clinical chemistry analyzer user interface.
            </div>
        </div>
    </div>

    <div class="portfolio-header-div teal-background-div header-position-right-div">
        Developing user interface for Microsoft IoT platform is not a problem
    </div>

    <div parallax-background class="parallax-background sttCompilation" parallax-ratio="0.3">
        <div data-ng-click="animateSttCaption()" id="sttCaptionBlock" class="analyzer-caption-div stt-caption-div">
            <span id="sttGlyph" class="glyphicon glyphicon-chevron-down"></span>
            <div id="sttCaptionText" class="portfolio-text-div">
                Clinical chemistry sample pre-handling station UI
            </div>
        </div>
    </div>


    <div class="portfolio-header-div dark-background-div header-position-right-div">
        Why would heavy metal ever go away?
        <div class="italic-quote-div">-Scott Ian</div>
    </div>

    <div parallax-background class="parallax-background tuskaBackground" parallax-ratio="0.3">



    </div>


    <div class="portfolio-header-div indigo-background-div header-position-right-div">
        Recently, I've started to train 3D modelling
    </div>

    <div class="portfolio-header-medium-div white-background-div">
        I have always been interested about 3D modelling. Yet, recently I have started to take actions for getting know
        more about the issue. With Blender and some YouTube tutorials, I have managed to create cool looking objects.
    </div>

    <div parallax-background class="parallax-background modellingCompilation" parallax-ratio="0.3"></div>

    <div class="visible-div">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros
        ullamcorper quis,
        lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer
        et venenatis eget velit. Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. Donec ultricies nisl ut
        felis, suspendisse potenti. Lorem ipsum ligula ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem
        libero nec erat. Aliquam erat volutpat. Sed congue augue vitae neque. Nulla consectetuer porttitor pede. Fusce
        purus morbi tortor magna condimentum vel, placerat id blandit sit amet tortor. Mauris sed libero. Suspendisse
        facilisis nulla in lacinia laoreet, lorem velit accumsan velit vel mattis libero nisl et sem. Proin interdum
        maecenas massa turpis sagittis in, interdum non lobortis vitae massa. Quisque purus lectus, posuere eget
        imperdiet
        nec sodales id arcu. Vestibulum elit pede dictum eu, viverra non tincidunt eu ligula. Nam molestie nec tortor.
        Donec placerat leo sit amet velit. Vestibulum id justo ut vitae massa. Proin in dolor mauris consequat aliquam.
        Donec ipsum, vestibulum ullamcorper venenatis augue.
    </div>


</div>
<!--</div>-->