<div>

    <div class="portfolio-header-div header-position-div dark-background-div">
        Here are some of my previous work
    </div>

    <!--Analyzer parallax-->
    <div parallax-background class="parallax-background analyzerFront hidden-sm hidden-xs" parallax-ratio="0.3">
        <div data-ng-click="animateAnalyzerCaption()" id="analyzerCaptionBlock" class="portfolio-caption-div">
            <span id="analyzerGlyph" class="glyphicon glyphicon-chevron-left"></span>
            <div id="analyzerCaptionText" class="portfolio-text-div">
                Front view of a clinical chemistry analyzer user interface.
            </div>
        </div>
    </div>

    <!--analyzer mobile-->
    <div class="mobile-background analyzerFront visible-xs-block visible-sm-block">
        <div class="mobile-caption-div">
            <div class="portfolio-text-div mobile-caption-text">
                Front view of a clinical chemistry analyzer user interface.
            </div>
        </div>
    </div>

    <!--IoT-->
    <div class="portfolio-header-div teal-background-div header-position-right-div">
        Developing user interface for Microsoft IoT platform is not a problem
    </div>

    <div parallax-background class="parallax-background parallax-iot-background sttCompilation hidden-sm hidden-xs" parallax-ratio="0.3">
        <div data-ng-click="animateSttCaption()" id="sttCaptionBlock" class="portfolio-caption-div stt-caption-div">
            <span id="sttGlyph" class="glyphicon glyphicon-chevron-down"></span>
            <div id="sttCaptionText" class="portfolio-text-div">
                Clinical chemistry sample pre-handling station UI
            </div>
        </div>
    </div>

    <!--IoT mobile-->
    <div class="mobile-background sttCompilation visible-xs-block visible-sm-block">
        <div class="mobile-caption-div">
            <div class="portfolio-text-div mobile-caption-text">
                Clinical chemistry sample pre-handling station UI
            </div>
        </div>
    </div>

    <!--TUSKA 2012-->
    <div class="portfolio-header-div dark-background-div header-position-right-div">
        Why would heavy metal ever go away?
        <div class="italic-quote-div">-Scott Ian</div>
    </div>

    <div parallax-background class="parallax-background parallax-background-tuska tuskaBackground" parallax-ratio="0.3">

        <div id="tuskaCarousel" class="carousel slide" data-interval="7000" data-pause="hover">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="item1 active" data-target="#tuskaCarousel" data-slide-to="0"></li>
                <li class="item2" data-target="#tuskaCarousel" data-slide-to="1"></li>
                <li class="item3" data-target="#tuskaCarousel" data-slide-to="2"></li>
                <li class="item4" data-target="#tuskaCarousel" data-slide-to="3"></li>
                <li class="item4" data-target="#tuskaCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="tuska-carousel-img-size tuskaSchedule"></div>
                </div>

                <div class="item">
                    <div class="tuska-carousel-img-size tuskaScheduleReminder"></div>
                </div>

                <div class="item">
                    <div class="tuska-carousel-img-size tuskaReminder"></div>
                </div>

                <div class="item">
                    <div class="tuska-carousel-img-size tuskaPracticalities"></div>
                </div>

                <div class="item">
                    <div class="tuska-carousel-img-size tuskaInfo"></div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control arrow-control-area" href="" ng-click="slide('prev')" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left carousel-glyph-size" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control arrow-control-area" ng-click="slide('next')" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right carousel-glyph-size" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <!--3D modelling-->
    <div class="portfolio-header-div indigo-background-div header-position-right-div">
        Recently, I've started to train 3D modelling
    </div>

    <div class="portfolio-header-medium-div white-background-div">
        I have always been interested about 3D modelling. Yet, recently I have started to take actions for getting know
        more about the issue. With Blender and some YouTube tutorials, I have managed to create cool looking objects.
    </div>


    <div parallax-background class="parallax-background modellingCompilation hidden-sm hidden-xs"
         parallax-ratio="0.3"></div>

    <!--3D modelling mobile-->
    <div class="mobile-background modellingCompilation visible-xs-block visible-sm-block">
        <div class="portfolio-text-div">
            Clinical chemistry sample pre-handling station UI
        </div>
    </div>

    <div class="portfolio-header-div light-blue-background-div header-position-center-div">
        Thank you for scrolling.
    </div>

    <footer class="portfolio-footer blue-gray-background-div ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="col-md-6 footer-column-center">
                    <div class="row">
                        Ismo Loukusa
                    </div>
                    <div class="row">
                        Tammistontie 4a E32
                    </div>
                    <div class="row">
                        01520 VANTAA
                    </div>
                </div>

                <div class="col-md-6 footer-column-center">
                    <div class="row">
                        +358 50 535 9027
                    </div>
                    <div class="row">
                        ismo.loukusa[m]gmail.com
                    </div>
                    <div class="row">
                        <a href="https://fi.linkedin.com/pub/ismo-loukusa/1/309/712">
                            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png"
                                 width="80" height="15" border="0" alt="View Ismo Loukusa's profile on LinkedIn">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</div>