
body {
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.navbar-default.navigation-position {
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 2px 2px 15px #e0e0e0;
    margin-top: -50px;
}

.portfolio-header-div {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: white;
}

.portfolio-header-medium-div {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: black;
    padding: 50px;
}

.italic-quote-div {
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
}

.header-position-div {
    padding: 70px;
    margin-top: 50px;
}

.dark-background-div {
    background-color: #212121;
}

.teal-background-div {
    background-color: #004d40;
}

.indigo-background-div {
    background-color: #1a237e;
}

.blue-gray-background-div{
    background-color: #455a64;
}

.light-blue-background-div {
    background-color: #039be5;
}

.white-background-div {
    background-color: white;
}

.header-position-right-div {
    padding: 70px;
    text-align: right;
}

.header-position-center-div {
    padding: 70px;
    text-align: center;
}
.portfolio-caption-div {
    float: right;
    margin: 0 60px 0 0;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #29b6f6;
}

.mobile-caption-div{
    float: right;
    margin: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #29b6f6;
    padding:20px;
}

.portfolio-caption-div span.glyphicon-chevron-left {
    position: relative;
    left: 17%;
    top: 17%;
    font-size: 36px;
    font-weight: 200;
}

.portfolio-caption-div span.glyphicon-chevron-down {
    position: relative;
    left: 22%;
    top: 22%;
    font-size: 36px;
    font-weight: 200;
}

#analyzerCaptionText {
    opacity: 0;
}

#analyzerGlyph {
    opacity: 1;
}

.portfolio-text-div {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: black;
    display: none;
    text-align: center;
    position: relative;
    top: 40%;
}

.mobile-caption-text{
    font-size: 16px;
    display: inline;
}

.portfolio-footer{
    padding: 70px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
}

.footer-column-center{
    /*position: absolute;*/
    left: 15%;
    /*margin-top: -50px;*/
    /*margin-left: -50px;*/
}

/*CAROUSEL STYLES*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.arrow-control-area{
    margin-bottom: -50px;
}

.glyphicon.carousel-glyph-size{
    font-size: 90px;
}
/*PARALLAX STUFF*/
.parallax {
    position: absolute;
    left: 0;
    top: 0;
}

.parallax-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    position: relative;
    background-size: 100%;
    background-color: #212121;
    background-position: center center;
}

.parallax-iot-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-size: auto;
    position: relative;
    background-color: #212121;
    background-position: center center;
}

.parallax-background-tuska {
    background-size: cover;
}

.mobile-background{
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:500px;
    width: 100%;
    position: relative;
    background-size: 100%;
    background-color: #212121;
    background-position: center center;
}

.analyzerFront {
    background-image: url(../images/analyzerFront.png);
}

.sttCompilation {
    background-image: url(../images/SttCompilation.png);
}

.modellingCompilation {
    background-image: url(../images/ModellingSet.png);
}

.tuskaBackground {
    background-image: url(../images/tuska_background.png);
}

.tuska-carousel-img-size {
    width: 373px;
    height: 700px;
    /*background: no-repeat center top;*/
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tuskaInfo {
    background-image: url(../images/tuska_info.png);
}

.tuskaPracticalities {
    background-image: url(../images/tuska_practicalities.png);
}

.tuskaReminder {
    background-image: url(../images/tuska_reminder.png);
}

.tuskaSchedule {
    background-image: url(../images/tuska_schedule.png);
}

.tuskaScheduleReminder {
    background-image: url(../images/tuska_schedule_reminder.png);
}
